<% migalha_current_list 'espaço pessoal' %>

<%= render :partial => 'layouts/list_menu_panel' %>
<% content_for :head do %>
  <%= javascript_include_tag :fckeditor %>
<% end %>

<p><%= site.personal_space_text %></p>
<% form_for current_list, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag 'edit_what', 'personal_space' %>
  <p>
    <label for="nome">Nome da lista de presentes</label>
    <%= f.text_field :name, :class => 'campoTexto' %>
  </p>
  <p>
    <label for="nome">Endereço da loja pessoal</label><br />
    <span><%= SITE_URL + '/' %>exemplo</span>
    <%= f.text_field :adress, :class => 'campoTexto' %>
  </p>
  <p>
    <label for="titulo">Escolha o título da sua Lista de Presentes que aparecerá no seu espaço pessoal</label>
    <%= f.text_field :title, :class => 'campoTexto' %>
   </p>
   <h2>Imagem Principal</h2>
   <p>
    <% if current_list.photo.file? %>
      <%= image_tag current_list.photo.url %>
      <br/><br/>
    <% end %>
    <label for="photo">Alterar imagem</label>
    <%= f.file_field :photo %>
  </p>
  <p>
    <label for="texto">Escreva uma mensagem de boas vindas para os convidados que visitarem a sua lista de presentes</label>
    <%= fckeditor_textarea(:list, :text, :toolbarSet => 'Basic', :width => '100%', :height => '200px') %>
  </p>
  <input class="botaoForm floatRight" type="image" title="salvar" value="salvar" src="/images/btSalvar.gif"/>
<% end %>
<hr />
<h2>Galeria de Imagens<span>(máximo de 08 imagens)</span></h2>
<% form_for GaleryPhoto.new, :html => { :multipart => true } do |f| %>
  <%= hidden_field_tag 'galery_photo[galery_id]', current_list.galery.id %>
  <p>
    <label for="addImgGaleria">Adicionar imagem</label>
    <%= f.file_field :photo %>
    <%= f.submit 'Enviar' %>
  </p>  
<% end %>

<ul class='thumbPersonalSpace'>
  <% for p in current_list.galery.galery_photos %>
    <li><%= image_tag p.url :thumb %><div><%= link_to 'remover', destroy_galery_photo_path(p), :confirm => 'Tem certeza?' %></div></li>
  <% end %>
</ul>

<br/>

<% form_tag personal_space_list_path(current_list), :method => :get do %>
  <input class="botaoForm floatRight" type="image" title="avançar" value="avançar" src="/images/btAvancar.gif"/>
<% end %>


