<% migalha ['visitar lista de presentes', @search] %>

<%= render 'find' %>

<hr/>

<h2>Você buscou <%= @search %></h2>


  <ul>
  <% @lists.each do |list| %>
    <li>
      <h3><%= link_to list.name, store_path(list.adress) %></h3>
      <p>Noivo<br/>
      <%= list.nome_noivo %></p>
      <p>Noiva<br/>
      <%= list.nome_noiva %></p>
    </li>
  <% end %>
  </ul>

