<h1>Listing lists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Text</th>
    <th>Nome noivo</th>
    <th>Nome noivo pai</th>
    <th>Nome noivo mae</th>
    <th>Nome noiva</th>
    <th>Nome noiva pai</th>
    <th>Nome noiva mae</th>
    <th>Nome outros</th>
  </tr>

<% for list in @lists %>
  <tr>
    <td><%=h list.name %></td>
    <td><%=h list.title %></td>
    <td><%=h list.text %></td>
    <td><%=h list.nome_noivo %></td>
    <td><%=h list.nome_noivo_pai %></td>
    <td><%=h list.nome_noivo_mae %></td>
    <td><%=h list.nome_noiva %></td>
    <td><%=h list.nome_noiva_pai %></td>
    <td><%=h list.nome_noiva_mae %></td>
    <td><%=h list.nome_outros %></td>
    <td><%= link_to 'Show', list %></td>
    <td><%= link_to 'Edit', edit_list_path(list) %></td>
    <td><%= link_to 'Destroy', list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New list', new_list_path %>
