<% migalha 'minha conta' %>

<% if current_user.lists.empty? %>
  <h1>Boas Vindas</h1>
  <p><%= site.welcome_text %></p>
<% else %>

<h1>Minhas Listas - <span>você tem (<%= current_user.lists.size %>) listas de presentes</span></h1>
<ul class="listaVertical">
  <% for list in current_user.lists %>
    <li><%= link_to list.name, select_list_path(list) %> - <%= link_to 'excluir', list_path(list), :method => 'DELETE', :confirm => 'Tem certeza?' %></li>
  <% end %>
</ul>
<h2>Criar Listas</h2>
<% end %>

<% form_for List.new, :html => { :id => 'formCriarLista' } do |f| %>
  <p>
    <%= label_tag 'nomeLista', 'Nome da lista:' %>
    <%= f.text_field :name, :class => 'campoTexto' %>
    <input class="botaoForm" type="image" title="criar lista" value="criar lista" src="/images/btCriarLista.gif"/>
  </p>
<% end %>

<% unless current_user.lists.empty? %>
  <% current_user.password = current_user.password_confirmation = nil  %>
  <hr/>
  <h2>Alterar Dados</2h>
  <% form_for current_user do |f| %>
    <p>
      <%= f.label :password, '*Senha:' %><br/>
      <%= f.password_field :password, :class => 'campoTexto' %>
    </p>
    <p>
      <%= f.label :password_confirmation, '*Confirmar senha:' %><br/>
      <%= f.password_field :password_confirmation, :class => 'campoTexto' %>
    </p>
    <input class="botaoForm" type="image" title="confirmar" value="confirmar" src="/images/btConfirmar.gif"/>
  <% end %>
<% end %>
