<% content_for :content_class do %>minhaConta<% end %>
<% migalha 'minha conta' %>

<% if current_user.lists.empty? %>
  <h1>Boas Vindas</h1>
  <p><%= site.welcome_text %></p>
<% else %>

<h1>Minhas Listas<br />
  <span>você tem <%= current_user.lists.size %> listas de presentes</span>
</h1>
<% for list in current_user.lists %>
  <ul class="listaHorizontal lineHeight">
    <li>
      <h4>
        <%= list.name %>
        <sup>
          <% if list.delivery %>
            (entregue)
          <% elsif list.closed %>
            (encerrada)
            <% if list.credit > 0 %>
              (crédito R$ <%= number_with_precision list.credit, :precision => 2 %>)
            <% end %>
          <% end %>          
        </sup>
      </h4>
    </li>
    <li> <span>|</span> </li>
    <li><%= link_to '<span>visualizar</span>', select_list_path(list) %></li>
    <% if user_session.show_edit_list?(list) %>
      <li> <span>|</span> </li>
      <li><%= link_to '<span>editar</span>', edit_list_path(list) %></li>    
    <% end %>
    <% if list.can_delete? %>
      <li> <span>|</span> </li>
      <li><%= link_to '<span>excluir</span>', list_path(list), :method => 'DELETE', :confirm => 'Tem certeza?' %></li>
    <% end %>
    <li><span>(criada <%= time_ago_in_words list.created_at %> atrás)</span></li>
  </ul>
<% end %>
<h2>Criar Listas</h2>
<% end %>

<% form_for @list, :html => { :id => 'formCriarLista', :class => "form" } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= label_tag 'nomeLista', 'Nome da lista:' %>
    <%= f.text_field :name, :class => 'campoTexto campoLarguraTotal' %>
    <input class="botaoForm floatRight" type="image" title="criar lista" value="criar lista" src="/images/btCriarLista.gif"/>
  </p>
<% end %>

<% unless current_user.lists.empty? %>
  <% current_user.password = current_user.password_confirmation = nil  %>
  <hr/>
  <h2>Alterar Dados</2h>
  <% form_for current_user, :html => {:class => "form" } do |f| %>  
    <p>
      <%= f.label :password, '*Senha:' %>
      <%= f.password_field :password, :class => 'campoTexto campoLarguraTotal' %>
    </p>
    <p>
      <%= f.label :password_confirmation, '*Confirmar senha:' %>
      <%= f.password_field :password_confirmation, :class => 'campoTexto campoLarguraTotal' %>
    </p>
    <p><%= f.check_box :newsletter %> <%= label_tag 'newsletter', 'Desejo receber informações sobre a Arte de Receber.' %></p>
    
    <input class="botaoForm floatRight" type="image" title="confirmar" value="confirmar" src="/images/btConfirmar.gif"/>
  <% end %>
<% end %>
