<% migalha_current_list 'entregar' %>

<%= render :partial => 'layouts/store_menu_panel' %>

<%= site.delivery_text %>

<h2>Presentes</h2>

<table class='listaPresentes'>
  <thead>
    <tr>
      <th scope="col"><span>Produto</span></th>
      <th scope="col"><span>Quantidade</span></th>
      <th scope="col"><span>Quem comprou</span></th>
    </tr>
  </thead>
  <tbody>
    <% @delivery.gifts.each do |i| %>
      <tr>
        <td><%= link_to i.product.name, view_product_path(i.product) %></td>
        <td>
          <p>
            <%= i.quantity_left %>
          </p>
        </td>
        <td>
          <%= i.sale.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% form_tag create_delivery_path do %>
  <p>
    <%= label_tag :delivery_date, 'Data' %><br/>
    <%= select_date Date.today + 14.day, :prefix => :delivery_date %>
  </p>
  
  <p>
    <%= label_tag :delivery_adress, 'Endereço' %><br/>
    <%= text_area_tag :delivery_adress, '', :class => 'campoAreaTexto' %>
  </p>  
  
  <p>
    <input type="image" title="Confirmar" value="confirmar" src='/images/btConfirmar.gif' onclick="if(confirm('Tem certeza que deseja marcar a entrega?')) { return true } else { return false }" />
  </p>
<% end %>
