<% content_for :head do %>
  <%= javascript_include_tag 'milkbox/mootools-1.2.1-core-yc' %>
  <%= javascript_include_tag 'milkbox/mootools-1.2-more' %>
  <%= javascript_include_tag 'milkbox/milkbox' %>
  <%= stylesheet_link_tag 'milkbox/milkbox' %>
<% end  %>

<script>
window.addEvent('domready', function(){
	milkbox.setAutoPlay([
		{ gallery:'gal', autoplay:true, delay:4 },
	]);
});
</script>

<% unless current_list.nil? and current_list != @list %>
  <% migalha_current_list 'visualizar' %>
<% end %>
<% unless current_store.nil? and current_store != @list %>
  <% migalha_current_list current_store.title %>
<% end %>

<%= render :partial => 'layouts/list_menu_panel' %>
<%= render :partial => 'layouts/store_menu_panel' %>

<h1><%= @list.title %></h1>

<% if @list.photo.file? %>
  <%= image_tag @list.photo.url %>
  <br/>
  <br/>  
<% end %>

<% unless @list.galery.galery_photos.empty? %>
  <ul class='listaHorizontal'>
    <% for p in @list.galery.galery_photos %>
      <li><%= link_to image_tag(p.url(:thumb)), p.url, :rel => 'milkbox[gal]' %></li> 
    <% end %>
  </ul>
  <br/>  
<% end %>

<p><%= @list.text %></p>

<h2>Mensagens</h2>
<hr/>
<div id='messages'>
  <%= render :partial => @list.messages %>
</div>
<br/>
<% remote_form_for Message.new do |f| %>
  <%= hidden_field_tag 'message[list_id]', @list.id %>
  <%= f.text_area :body, :rows => 3 %><br/>
  <%= f.submit 'Enviar' %>
<% end %>
