<% content_for :head do %><%= javascript_include_tag :defaults %><% end  %>

<% migalha "minha conta / #{@list.name.downcase} / visualizar" %>

<h1><%= @list.title %></h1>

<%= image_tag @list.photo.url %>
<br/>
<br/>
<ul class='listaHorizontal'>
  <% for p in current_list.galery.galery_photos %>
    <li><%= image_tag p.url :thumb %></li> 
  <% end %>
</ul>
<br/>
<p><%= @list.text %></p>

<h2>Mensagens</h2>
<hr/>
<div id='messages'>
  <%= render :partial => @list.messages %>
</div>
<br/>
<% remote_form_for Message.new do |f| %>
  <%= hidden_field_tag 'message[list_id]', @list.id %>
  <%= f.text_area :body, :rows => 3 %><br/>
  <%= f.submit 'Enviar' %>
<% end %>
