<% content_for :head do %>
  <%= javascript_include_tag 'milkbox/mootools-1.2.1-core-yc' %>
  <%= javascript_include_tag 'milkbox/mootools-1.2-more' %>
  <%= javascript_include_tag 'milkbox/milkbox' %>
  <%= stylesheet_link_tag 'milkbox/milkbox' %>
<% end  %>
<% content_for :content_class do %>personalSpace<% end %>
<script>
window.addEvent('domready', function(){
	milkbox.setAutoPlay([
		{ gallery:'gal', autoplay:true, delay:4 },
	]);
});
</script>

<% if !current_list.nil? and current_list == @list %>
  <% migalha_current_list 'visualizar' %>
<% elsif !current_store.nil? %>
  <% migalha_current_store current_store.title %>
<% end %>

<%= render :partial => 'layouts/list_menu_panel' %>
<%= render :partial => 'layouts/store_menu_panel' %>

<h1><%= @list.title %></h1>

<% unless @list.galery.galery_photos.empty? %>
  <ul class='listaHorizontal'>
    <% if @list.photo.file? %>
      <li class="fotoCapa"><%= image_tag @list.photo.url %></li>
    <% end %>
    <% for p in @list.galery.galery_photos %>
      <li><%= link_to image_tag(p.url(:thumb)), p.url, :rel => 'milkbox[gal]' %></li> 
    <% end %>
  </ul>
  <br/>  
<% end %>

<p><%= @list.text %></p>

<h2>Mensagens</h2>
<hr/>
<%= render :partial => 'messages/form', :locals => { :list => @list } %>
<hr/>
<div id='messages'>
  <%= render :partial => @list.messages %>
</div>
<br/>
