<p>
  <b>Name:</b>
  <%=h @list.name %>
</p>

<p>
  <b>Title:</b>
  <%=h @list.title %>
</p>

<p>
  <b>Text:</b>
  <%=h @list.text %>
</p>

<p>
  <b>Nome noivo:</b>
  <%=h @list.nome_noivo %>
</p>

<p>
  <b>Nome noivo pai:</b>
  <%=h @list.nome_noivo_pai %>
</p>

<p>
  <b>Nome noivo mae:</b>
  <%=h @list.nome_noivo_mae %>
</p>

<p>
  <b>Nome noiva:</b>
  <%=h @list.nome_noiva %>
</p>

<p>
  <b>Nome noiva pai:</b>
  <%=h @list.nome_noiva_pai %>
</p>

<p>
  <b>Nome noiva mae:</b>
  <%=h @list.nome_noiva_mae %>
</p>

<p>
  <b>Nome outros:</b>
  <%=h @list.nome_outros %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
