<h1>Entrega</h1>

<p>
  <b>Lista</b><br/>
  <%= @delivery.name %>
</p>

<p>
  <b>Dono da lista</b><br/>
  <%= link_to @delivery.user.name, @delivery.user %>
</p>

<p>
  <b>Endereço de entrega</b><br/>
  <%= @delivery.delivery_adress %>
</p>

<p>
  <b>Data de entrega</b><br/>
  <%= @delivery.delivery_date %>
</p>

<h2>Produtos</h2>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Venda</th>
    </tr>
  </thead>
  <tbody>
    <% @delivery.gifts.each do |i| %>
      <tr>
        <td><%= link_to i.product.name, i.product %></td>
        <td>
          <p>
            <%= i.quantity_left %>
          </p>
        </td>
        <td>
          <%= link_to(i.sale.name, i.sale) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
