<% remote_form_for Message.new do |f| %>
  <%= hidden_field_tag 'message[list_id]', list.id %>
  <% unless logged_in? %>
    <p>
      <label>Nome:</label>
      <%= f.text_field :user_name, :class => 'campoTexto'%>
    </p>
  <% end %>
  <p>
    <label>Mensagem:</label>
    <%= f.text_area :body, :class => 'campoAreaTexto' %>
  </p>
  <%= f.check_box :private_message %> Privada
  <%= f.submit 'enviar', :type => 'image', :src =>'/images/btEnviar.gif', :class => 'floatRight' %>
<% end %>
