<% migalha ['carrinho de compras', 'checkout'] %>

<% content_for(:content_class) { %>criarConta<% } %>
AINDA NÃO IMPLEMENTADO!
<h1>Crie sua conta</h1>
<p><%= site.create_account_text %></p>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for @user, :html => { :id => 'formCriarConta' } do |f| -%>

  <p><%= label_tag 'name', '*Seu nome:' %><br/>
  <%= f.text_field :name, :class => 'campoTexto' %></p>

  <p><%= label_tag 'login', '*Escolha um nome de usuário:' %><br/>
  <%= f.text_field :login, :class => 'campoTexto' %></p>

  <p><%= label_tag 'email', 'E-mail:' %><br/>
  <%= f.text_field :email, :class => 'campoTexto' %></p>

  <p><%= label_tag 'password', '*Senha:' %><br/>
  <%= f.password_field :password, :class => 'campoTexto' %></p>

  <p><%= label_tag 'password_confirmation', '*Confirmar senha:' %><br/>
  <%= f.password_field :password_confirmation, :class => 'campoTexto' %></p>
  
  <p class="checkNews">
    <input id="aceitouTermos" type="checkbox" value="true" value="true" onclick="this.value = this.checked" name="aceitouTermos" checked>
    <label for="cadastroCliente">Li e aceito os <a href="#">termos de uso!</a></label>
  </p>
  
   <input class="botaoForm" type="image" title="confirmar" value="confirmar" src="/images/btEnviar.gif"/>
<% end %>
