<% migalha_current_list 'carrinho de compras' %>

<%= render :partial => 'layouts/list_menu_panel' %>
<%= render :partial => 'layouts/store_menu_panel' %>

<% if @cart.cart_items.empty? %>
  <p class='infoLista'>NÃO HÁ PRESENTES ESCOLHIDOS PARA SUA LISTA.<br />NAVEGE PELAS SEÇÕES DA LOJA <br />E FAÇA SUAS ESCOLHAS</p>
<% end %>

<% unless @cart.cart_items.empty? %>
  <table class="listaPresentes">
    <colgroup>
      <col id="produtoCol"/>
      <col id="quantidadeCol"/>
      <col id="valorUnitarioCol"/>
      <col id="valorTotalCol"/>
      <col id="gerenciaCol"/>
    </colgroup>
    <thead>
      <tr>
        <th scope="col"><span>Produto</span></th>
        <th scope="col"><span>Quantidade</span></th>
        <th scope="col"><span>Valor Unitário</span></th>
        <th scope="col"><span>Valo Total</span></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% for i in @cart.cart_items %>
        <tr>
          <td><%= link_to i.product.name, view_product_path(i.product) %></td>
          <td>
              <% form_tag change_quantity_cart_item_path(i.product.id), :method => :put do %>
                <%= text_field_tag :quantity, i.quantity , :class => 'campoTexto', :style => 'width:20px' %>
                <%= submit_tag 'alterar' %>
              <% end %>
          </td>
          <td><p>R$ <%= number_with_precision i.product.price, :precision => 2 %></p></td>
          <td><p>R$ <%=  number_with_precision i.total_price, :precision => 2 %></p></td>
          <td><%= link_to 'remover', remove_from_cart_path(i.id) , :confirm => 'Tem certeza?' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p class="floatRight">Total: R$ <%= number_with_precision @cart.total_price, :precision => 2 %></p>
  <% if user_session.show_credit? %>
    <p class="floatRight" style='clear: right'>Total de crédito: R$ <%= number_with_precision current_list.credit, :precision => 2 %></p>
    <p class="floatRight" style='clear: right'>Total a pagar: R$ <%= number_with_precision user_session.total_price_to_pay, :precision => 2 %></p>
  <% end %>
  <p><%= link_to '<button>CHECKOUT</button>', checkout_path %></p>
<% end %>
