<h1>Mala Direta</h1>

<h2>Mensagens</h2>

<%= link_to 'Nova Mensagem', new_mail_path %>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Descrição</th>
      <th>Título</th>
    </tr>
  </thead>

<% @mails.each do |mail| %>
  <tr>
    <td><%= link_to image_tag('editar.gif'), edit_mail_path(mail) %></td>
    <td><%= link_to image_tag('remover.gif'), mail, :confirm => 'Tem certeza?', :method => :delete %></td>
    <td><%= link_to(mail.description, mail) %></td>
    <td><%= mail.title %></td>
  </tr>
<% end %>
</table>

<h2>Emails cadastrados</h2>

<% form_tag add_mail_path do  %>
  <p>
    Adicionar email <%= text_field_tag :email %>
    <%= submit_tag 'Adicionar' %>
  </p>
<% end %>

<% for user in User.newsletters %>
  <%= user.email %> (<%= link_to 'remover', remove_mail_path(user) %>)<br/>
<% end %>
