<h1>Mensagem</h1>

<h2>
  <%=h @mail.title %>
</h2>
<p>
  <% if @mail.image.file? %>
    <%= image_tag @mail.image.url %><br/><br/>
  <% end %>
</p>
<p>
  <%= @mail.body %>
</p>

<%= link_to '<button>Enviar</button>', enviar_mail_path(@mail) %> | 
<%= link_to 'Editar', edit_mail_path(@mail) %> |
<%= link_to 'Voltar', mails_path %>
