<h1>Usuários</h1>

<table>
  <tr>
    <td>Nome</td>
    <td>Usuário</td>
    <td>Administrador</td>
  </tr>

<% for user in @users %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.login %></td>
    <td><%= user.admin? %></td>
    <td><%= link_to 'Exibir', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Remover', user, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo usuário', new_admin_path %>
