<h1>Novo Usuário</h1>
<%= @erros %>
<br/>
<% @user.password = @user.password_confirmation = nil %>
  <%= error_messages_for @user %>
  <% form_for :user, @user, :url => create_admin_path do |f| -%>

  <p><b><%= label_tag 'admin', 'Administrador' %></b>
  <%= f.check_box :admin %></p>

  <p><b><%= label_tag 'name', 'Nome' %></b><br/>
  <%= f.text_field :name %></p>

  <p><b><%= label_tag 'login', 'Usuário' %></b><br/>
  <%= f.text_field :login %></p>

  <p><b><%= label_tag 'email', 'Email' %></b><br/>
  <%= f.text_field :email %></p>
  
  <p><b><b><%= label_tag 'newsletter', 'Receber newsletter' %></b> <%= f.check_box :newsletter %></p>

  <p><b><%= label_tag 'password', 'Senha' %></b><br/>
  <%= f.password_field :password %></p>

  <p><b><%= label_tag 'password_confirmation', 'Confirmar senha' %></b><br/>
  <%= f.password_field :password_confirmation %></p>

  <p><%= submit_tag 'Salvar' %></p>
<% end -%>
