<% migalha_current_list 'presentes' %>

<%= render :partial => 'layouts/store_menu_panel' %>
  
<table class="listaPresentes">
  <colgroup>
    <col id="produtoCol"/>
    <col id="quantidadeCol"/>
    <col id="valorUnitarioCol"/>
    <col id="valorTotalCol"/>
    <col id="gerenciaCol"/>
  </colgroup>
  <thead>
    <tr>
      <th scope="col"><span>Produto</span></th>
      <th scope="col"><span>Quantidade</span></th>
      <th scope="col"><span>Valor Unitário</span></th>
      <th scope="col"><span>Valo Total</span></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% for i in @store.gifts %>
      <tr>
        <td><%= link_to i.product.name, view_product_path(i.product) %></td>
        <td><%= i.sale.name %></td>
        <td>
          <p><%= i.quantity %></p>
          <%= "<p>Trocou: #{i.quantity_changed}</p>" if i.quantity_changed > 0 %>
        </td>
        <td><p>R$ <%= number_with_precision i.price, :precision => 2 %></p></td>
        <td><p>R$ <%=  number_with_precision i.total_price, :precision => 2 %></p></td>
        <% unless @store.delivery %>
          <td>
              <% form_tag change_sale_item_path(i) do %>
                <%= submit_tag 'Trocar', :confirm => 'Tem certeza?' %>
                <%= text_field_tag :quantity, '1', :class => 'campoTexto', :style => 'width:20px' %>
              <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="floatRight">Total: R$ <%= number_with_precision @store.gifts_total_price, :precision => 2 %></p>
<% if user_session.show_deliver? %>
  <p>
    <%= link_to '<button>Entregar</button>', new_delivery_path %>
  </p>
<% end %>
