<% content_for :head do %>
  <%= javascript_include_tag :fckeditor %>
<% end %>

<h1>Home</h1>

<% form_for @site do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :edit_what, 'home' %>
  <p>
    <b><%= f.label :home_title, 'Título' %></b><br />
    <%= f.text_field :home_title %>
  </p>

  <p>
    <b><%= f.label :home_text, 'Texto' %></b><br />
    <%= fckeditor_textarea(:site, :home_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>

  <p>
    <b><%= f.label :login_text, 'Texto Login' %></b><br />
    <%= fckeditor_textarea(:site, :login_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>

  <p>
    <b><%= f.label :search_list_text, "Texto \"buscar lista\"" %></b><br />
    <%= fckeditor_textarea(:site, :search_list_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>

  <p>
    <%= f.submit "Salvar" %>
  </p>  
<% end %>
