<% content_for :head do %>
  <%= javascript_include_tag :fckeditor %>
<% end %>

<h1>Nossa Loja</h1>

<% form_for @site do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :edit_what, 'showroom' %>
  <p>
    <b><%= f.label :showroom_title, 'Título' %></b><br />
    <%= f.text_field :showroom_title %>
  </p>

  <p>
    <b><%= f.label :showroom_text, 'Texto' %></b><br />
    <%= fckeditor_textarea(:site, :showroom_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>

  <p>
    <%= f.submit "Salvar" %>
  </p>  
<% end %>
<%= render :partial => 'galery/galery', :object => @site.showroom_galery %>
