<% content_for :head do %>
  <%= javascript_include_tag :fckeditor %>
<% end %>

<h1>Site</h1>
<br />
<% form_for @site do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :edit_what, 'site_data' %>
  <p>
    <%= f.label :footer_text, 'Rodapé' %><br />
    <%= fckeditor_textarea(:site, :footer_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>
  <p>
    <%= f.label :create_account_text, "Texto \"Crie sua conta\"" %><br />
    <%= fckeditor_textarea(:site, :create_account_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>
  <p>
    <%= f.label :welcome_text, "Texto \"Boas Vindas\"" %><br />
    <%= fckeditor_textarea(:site, :welcome_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>
  <p>
    <%= f.label :names_text, "Texto \"Noivos\"" %><br />
    <%= fckeditor_textarea(:site, :names_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>
  <p>
    <%= f.label :personal_space_text, "Texto \"Espaço pessoal\"" %><br />
    <%= fckeditor_textarea(:site, :personal_space_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>
  <p>
    <%= f.label :empty_list_text, "Texto \"Lista vazia de presentes\"" %><br />
    <%= fckeditor_textarea(:site, :empty_list_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>
  <p>
    <%= f.label :spam_text, "Texto \"Divulgação\"" %><br />
    <%= fckeditor_textarea(:site, :spam_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>
  <p>
    <%= f.label :message_text, "Texto \"Mensagens\"" %><br />
    <%= fckeditor_textarea(:site, :message_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>
  <br />
  <p>
    <%= f.submit "Salvar" %>
  </p>  
<% end %>

<% form_for @site, :html => { :multipart => true } do |f| %>
  <br />
  <p>
    <%= f.label :logo, "Logo" %><br /><br />
    <% if site.logo.file? %>
      <%= image_tag site.logo.url %><br /><br />
    <% end %>    
    <%= f.file_field :logo %>
    <%= f.submit 'Enviar' %>
  </p>
<% end %>

<% form_for @site, :html => { :multipart => true } do |f| %>
  <br />
  <p>    
    <%= f.label :logo_footer, "Logo rodapé" %><br /><br />
    <% if site.logo_footer.file? %>
      <%= image_tag site.logo_footer.url %><br /><br />
    <% end %>    
    <%= f.file_field :logo_footer %>
    <%= f.submit 'Enviar' %>
  </p>
<% end %>
