<h1>Quem Somos</h1>

<% form_for @site do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :edit_what, 'we' %>
  <p>
    <%= f.label :we_title, 'Título' %><br />
    <%= f.text_field :we_title %>
  </p>
  <p>
    <%= f.label :we_text, 'Texto' %><br />
    <%= f.text_area :we_text %>
  </p>
  <p>
    <%= f.submit "Salvar" %>
  </p>  
<% end %>
