<% content_for :head do %>
  <%= javascript_include_tag :fckeditor %>
<% end %>

<h1>Quem Somos</h1>
<br/>
<% form_for @site do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :edit_what, 'we' %>
  <p>
    <%= f.label :we_title, 'Título' %><br />
    <%= f.text_field :we_title %>
  </p>
  <br/>
  <p>
    <%= f.label :we_text, 'Texto' %><br />
    <%= fckeditor_textarea(:site, :we_text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>
  <br/>
  <p>
    <%= f.submit "Salvar" %>
  </p>  
<% end %>

<%= render :partial => 'galery/galery', :object => @site.we_galery %>
