<h1>New email_config</h1>

<% form_for(@email_config) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email_adress %><br />
    <%= f.text_field :email_adress %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', email_configs_path %>
