<% content_for :head do %>
  <%= javascript_include_tag :fckeditor %>
<% end %>

<% form_for @spam, :html => { :multipart => true } do |f| %>
  <p>    
    <label for="tituloDivulgacao">Escolha o título da mensagem de divulgação da sua lista</label>    
    <%= f.text_field :title, :class => 'campoTexto' %>
  </p>
  <p>
    <label for="addImg">Alterar imagem</label><br/>
    <%= f.file_field :photo %>
    <% if @spam.photo.file? %>
      <br>
      <br><%= image_tag @spam.photo.url %>
    <% end %>
  </p>
  <p>
    <label for="mensagemLista">Escreva a mensagem de divulgação da sua lista, convidando seus amigos para participar</label>
    <%= fckeditor_textarea(:spam, :body, :toolbarSet => 'Basic', :width => '100%', :height => '300px') %>
  </p>
  <p>
    <label for="destinatariosMensagem">Destinatários da sua mensagem (separe os endereços de email com vírgulas)</label>
    <%= f.text_area :to %>
  </p>
  <%= link_to '<< DESCARTAR', spams_path %>
  <%= f.submit 'SALVAR >>' %>
<% end %>
