<% migalha_current_list 'divulgação' %>

<%= render :partial => 'layouts/list_menu_panel' %>

<p><%= site.spam_text %></p>

<h1><%= link_to 'Criar nova divulgação >>', new_spam_path %></h1>

<h2>Divulgações salvas</h2>

<% unless current_list.spams.empty? %>
  <% for s in current_list.spams %>
    <% next if s.sent %>
    <ul class="listaHorizontal listaDivulgacao">
      <li><%= link_to 'editar', edit_spam_path(s) %></li>
      <li></li>
      <li><%= link_to 'visualizar', s %></li>
      <li></li>
      <li><%= link_to 'excluir', s, :method => :delete, :confirm => 'Tem certeza?' %></li>
      <li></li>
      <li class="titleDivulgacao"><%= s.title %> - <%= time_ago_in_words s.created_at %></li>
    </ul>
  <% end %>
  <h2>Divulgações enviadas</h2>
  <% for s in current_list.spams %>
    <% next unless s.sent %>
    <ul class="listaHorizontal listaDivulgacao">
      <li><%= link_to 'visualizar', s %></li>
      <li><%= link_to 'excluir', s, :method => :delete, :confirm => 'Tem certeza?' %></li>
      <li class="titleDivulgacao"><%= s.title %> - <%= time_ago_in_words s.created_at %></li>
    </ul>
  <% end %>
<% end %>
