<h2>Divulgação da Lista</h2>

<h1><%= @spam.title %></h1>

<h3>
  <% if @spam.sent %>
    enviada em:
  <% else %>
    salva em:
  <% end %>
  <%= @spam.created_at %>  
</h3>

<p><%= @spam.to %></p>

<p>
  <%= image_tag @spam.photo.url %>
</p>

<p><%= @spam.body %></p>

<%= link_to '<< EDITAR', edit_spam_path(@spam) %>
<%= link_to 'ENVIAR >>', enviar_spam_path(@spam) %>
