<% migalha_current_list [ link_to('divulgação', spams_path), @spam.title.downcase] %>

<%= render :partial => 'layouts/list_menu_panel' %>

<h2>Divulgação da Lista</h2>

<h1><%= @spam.title %></h1>
<p>
  <span>
    <% if @spam.sent? %>
      Enviada em:
    <% else %>
      Salva em:
    <% end %>
    <%= @spam.created_at %>
    <br />
    <span>Para: <%= @spam.to %></span>
  </span>
</p>
<% if @spam.photo.file? %>
  <p>
    <%= image_tag @spam.photo.url %>
  </p>  
<% end %>

<p><%= @spam.body %></p>
<br />
<ul class="listaHorizontal floatLeft">
  <li><%= link_to '<< VER DIVULGAÇÕES', spams_path %></li>
  <li> | </li>
  <li><%= link_to 'EDITAR', edit_spam_path(@spam) %></li>
</ul>
<%= link_to @spam.sent? ? 'REENVIAR >>' : 'ENVIAR >>', enviar_spam_path(@spam), :class => 'floatRight' %>
