<% migalha_current_list [ link_to('divulgação', spams_path), @spam.title.downcase] %>

<%= render :partial => 'layouts/list_menu_panel' %>

<h2>Divulgação da Lista</h2>

<h1><%= @spam.title %></h1>

<h3>
  <% if @spam.sent? %>
    enviada em:
  <% else %>
    salva em:
  <% end %>
  <%= @spam.created_at %>  
</h3>

<p><%= @spam.to %></p>

<% if @spam.photo.file? %>
  <p>
    <%= image_tag @spam.photo.url %>
  </p>  
<% end %>

<p><%= @spam.body %></p>

<%= link_to '<< VOLTAR', spams_path %>
<%= link_to 'EDITAR', edit_spam_path(@spam) %>
<%= link_to @spam.sent? ? 'REENVIAR >>' : 'ENVIAR >>', enviar_spam_path(@spam) %>
