<% content_for(:content_class) { %>home<% } %>

<% content_for(:display) { %>
  <div id="display">
    <%= image_tag 'display.jpg' , :width => '780', :height => '279' %>
  </div>
<% } %>

<% content_for(:miolo) { %>
  <%= render :partial => 'site/featured_product' %>
<% } %>

<div id="primaryContent">
  <h1><%= site.home_title %></h1>
  <p><%= site.home_text %></p>
  <% unless logged_in? %>
    <a href="<%= signup_path %>" title="Criar minha lista de presentes agora"><span></span>CRIAR MINHA LISTA DE PRESENTES AGORA ></a>
  <% end %>
  <% if logged_in? %>
    <a href="/noiva/siteconta.minhaconta.logic" title="Criar minha lista de presentes agora"><span></span>CRIAR MINHA LISTA DE PRESENTES AGORA ></a>
  <% end %>
</div>
<hr>
<div id="boxHome">
  <div id="visitarLista" class="boxContentHome">
    <h2> > Visitar listas</h2>
    <p><%= site.search_list_text %></p>
    <form name="visitarLista" action="/noiva/sitelistabuscar.buscar.logic">
      <p>
        <label for="tipo">- Procurar por</label>
        <u:combo lista="${tiposParente}" nome="tipo" campoTexto="descricao" />
      </p>
      <p>
        <label for="busca">- Nome</label>
        <input type="text" name="busca" class="campoTexto" />
      </p>
      <p>
        <input class="botaoForm" name="acessarLista" type="image" src="/images/btAcessar.gif" title="acessar" onclick="this.form.submit();return false" />
      </p>
    </form>
  </div>
  <script language="JavaScript">
    document.getElementById("boxHome").style.background = "url(/images/bgContentBoxHome.gif) repeat-y -15px 0";
  </script>
  <% unless logged_in? %>
    <div id="loginHome">
      <%= render :partial => 'sessions/form' %>
    </div>
  <% end %>
</div>
