<% content_for(:content_class) { %>home<% } %>

<% featured_product = Product.random_featured %>

<% unless featured_product.nil? %>
  <% content_for(:display) { %>
    <div id="display">    
      <%= image_tag featured_product.display.url %>
    </div>
  <% } %>
<% end %>

<% content_for(:miolo) { %>
  <%= render :partial => 'site/featured_product', :object => featured_product %>
<% } %>

<div id="primaryContent">
  <h1><%= site.home_title %></h1>
  <p><%= site.home_text %></p>
  <%= link_to '<span></span>CRIAR MINHA LISTA DE PRESENTES AGORA >', account_path %>
</div>
<hr>
<div id="boxHome">
  <div id="visitarLista" class="boxContentHome">
    <h2> > Visitar listas</h2>
    <p><%= site.search_list_text %></p>
    <% form_tag find_list_path do %>
      <p>
        <label for="tipo">- Procurar por</label>
        <%= select_tag :name_filter, options_for_select([
          ['Noivo', 'nome_noivo'], 
          ['Pai do noivo', 'nome_noivo_pai'], 
          ['Mãe do noivo', 'nome_noivo_mae'], 
          ['Noiva', 'nome_noiva'], 
          ['Pai da noiva', 'nome_noiva_pai'], 
          ['Mãe da noiva', 'nome_noiva_mae'],
          ['Outros', 'nome_outros']
        ]) %>
      </p>
      <p>
        <label for="busca">- Nome</label>
        <input type="text" name="search" class="campoTexto" />
      </p>
      <p>
        <input class="botaoForm" name="acessarLista" type="image" src="/images/btAcessar.gif" title="acessar" onclick="this.form.submit();return false" />
      </p>
    <% end %>
  </div>
  <% unless logged_in? %>
    <script language="JavaScript">
      document.getElementById("boxHome").style.background = "url(/images/bgContentBoxHome.gif) repeat-y -15px 0";
    </script>
    <div id="loginHome">
      <%= render :partial => 'sessions/form' %>
    </div>
  <% end %>
</div>
