<% content_for :head do %>
  <%= javascript_include_tag 'milkbox/mootools-1' %>
  <%= javascript_include_tag 'milkbox/mootools-1_002' %>
  <%= javascript_include_tag 'milkbox/milkbox' %>
  <%= stylesheet_link_tag 'milkbox/milkbox' %>
<% end %>

<% migalha 'nossa loja' %>

<h1><%= site.showroom_title %></h1>

<ul id="thumbInstitucional" class="listaVertical">
<% for p in site.showroom_galery.galery_photos %>
  <li><%= link_to image_tag(p.url :thumb), p.url, :rel => 'milkbox[gal1]' %></li>
<% end %>
</ul>

<p><%= site.showroom_text %></p>
