<% migalha_current_list 'presentes' %>

<%= render :partial => 'layouts/list_menu_panel' %>

<% if current_list.list_items.empty? %>
  <p>
    <%= site.empty_list_text %>
  </p>
  <p class='infoLista'>NÃO HÁ PRESENTES ESCOLHIDOS PARA SUA LISTA.<br />NAVEGE PELAS SEÇÕES DA LOJA PRINCIPAL<br />E FAÇA SUAS ESCOLHAS</p>
<% end %>

<% unless current_list.list_items.empty? %>  
  <table class="listaPresentes">
    <colgroup>
      <col id="produtoCol"/>
      <col id="quantidadeCol"/>
      <col id="valorUnitarioCol"/>
      <col id="valorTotalCol"/>
      <col id="gerenciaCol"/>
    </colgroup>
    <thead>
      <tr>
        <th scope="col"><span>Produto</span></th>
        <th scope="col"><span>Quantidade</span></th>
        <th scope="col"><span>Valor Unitário</span></th>
        <th scope="col"><span>Valo Total</span></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% for i in current_list.list_items %>
        <tr>
          <td><%= link_to i.product.name, view_product_path(i.product) %></td>
          <td>
              <% form_for i do |f| %>
                <%= f.text_field :quantity, :class => 'campoTexto', :style => 'width:20px' %>
                <%= f.submit 'alterar' %>
              <% end %>
            <% if i.quantity_bought > 0 %>
              <p>
                <span>Comprada:</span>
                <%= i.quantity_bought %>
              </p>
            <% end %>
          </td>
          <td><p>R$ <%= number_with_precision i.product.price, :precision => 2 %></p></td>
          <td><p>R$ <%=  number_with_precision i.total_price, :precision => 2 %></p></td>
          <td>
            <%= link_to 'remover', i , :confirm => 'Tem certeza?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p class="floatRight">Total: R$ <%= number_with_precision current_list.total_price, :precision => 2 %></p>
<% end %>
