<% head javascript_include_tag(:defaults) %>

<% content_for :content_class do %>listaPresentes<% end %>

<% migalha_current_list 'presentes' %>

<%= render :partial => 'layouts/list_menu_panel' %>

<h1>Presentes</h1>

<% if current_list.list_items.empty? %>
  <p>
    <%= site.empty_list_text %>
  </p>
  <p class='infoLista'>NÃO HÁ PRESENTES ESCOLHIDOS PARA SUA LISTA.<br />NAVEGE PELAS SEÇÕES DA LOJA PRINCIPAL<br />E FAÇA SUAS ESCOLHAS</p>
<% end %>

<% unless current_list.list_items.empty? %>
  <table>
    <colgroup>
      <col id="produtoCol"/>
      <col id="quantidadeCol"/>
      <col id="valorUnitarioCol"/>
      <col id="valorTotalCol"/>
      <col id="gerenciaCol"/>
    </colgroup>
    <thead>
      <tr>
        <th scope="col">PRODUTO</th>
        <th scope="col">QUANTIDADE</th>
        <th scope="col">VALOR UNITÁRIO</th>
        <th scope="col">VALOR TOTAL</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% for li in current_list.list_items %>
        <tr>
          <td><%= li.product.name %></td>
          <td>
            <p>
              <span>Desejada:</span>
              <% unless li.nil? %>
                <%= in_place_editor_field li, 'quantity' %>
              <% end %>
              <% form_for li do |f| %>
                <%= f.text_field :quantity, :class => 'campoTexto', :style => 'width:30px' %>                
                <%= f.submit 'alterar quantidade' %>
              <% end %>
            </p>
            <p>
              <span>Comprada:</span>
              <%= li.quantity_bought %>
            </p>
          </td>
          <td><p>R$ <%= number_with_precision li.product.price, :precision => 2 %></p></td>
          <td><p>R$ <%=  number_with_precision li.total_price, :precision => 2 %></p></td>
          <td><%= link_to 'EXCLUIR', destroy_list_item_path(li.id) , :confirm => 'Tem certeza?' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
