<% content_for :content_class do %>listaPresentes<% end %>

<% content_for(:migalha) do %>minha conta / <%= current_list.name.downcase %> / presentes<% end %>

<% content_for :title do %><h2><%= current_list.name %></h2><% end %>

<% if current_list.list_items.empty? %>
  <p>
    <%= site.empty_list_text %>
  </p>
  <p class='infoLista'>NÃO HÁ PRESENTES ESCOLHIDOS PARA SUA LISTA.<br />NAVEGE PELAS SEÇÕES DA LOJA PRINCIPAL<br />E FAÇA SUAS ESCOLHAS</p>
<% end %>

<% unless current_list.list_items.empty? %>
  <table>
    <colgroup>
      <col id="produtoCol"/>
      <col id="quantidadeCol"/>
      <col id="valorUnitarioCol"/>
      <col id="valorTotalCol"/>
      <col id="gerenciaCol"/>
    </colgroup>
    <thead>
      <tr>
        <th scope="col">PRODUTO</th>
        <th scope="col">QUANTIDADE</th>
        <th scope="col">VALOR UNITÁRIO</th>
        <th scope="col">VALOR TOTAL</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% for i in current_list.list_items %>
        <tr>
          <td><%= i.product.name %></td>
          <td>
            <p>
              <span>Desejada:</span>
              <% form_for i do |f| %>
                <%= f.text_field :quantity, :class => 'campoTexto', :style => 'width:30px' %>
                <%= f.submit 'alterar quantidade' %>
              <% end %>
            </p>
            <p>
              <span>Comprada:</span>
              <%= i.quantity_bought %>
            </p>
          </td>
          <td><h2>R$ <%= i.product.price %></h2></td>
          <td><h2>R$ <%=  i.total_price %></h2></td>
          <td><%= link_to 'EXCLUIR', destroy_list_item_path(i.id) , :confirm => 'Tem certeza?' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
