<h1>Editar Categoria</h1>
<br/>
<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'Nome' %><br />
    <%= f.text_field :name %>
  </p>
  <br/>
  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>
<br/>
<%= link_to 'Exibir', @category %> |
<%= link_to 'Voltar', categories_path %>
