<h1>Cagegorias</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Nome</th>
      <th>Produtos</th>
    </tr>
  </thead>
<% for category in @categories %>
  <tr>
    <td><%= link_to image_tag('editar.gif'), edit_category_path(category) %></td>
    <td><%= link_to image_tag('remover.gif'), category, :confirm => 'Tem certeza?', :method => :delete %></td>
    <td><%= link_to category.name, category %></td>
    <td><%= category.products.count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Categoria', new_category_path %>
