<h1>Nova Categoria</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'Nome' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>

<%= link_to 'Voltar', categories_path %>
