<% content_for :head do %>
  <%= javascript_include_tag :fckeditor %>
<% end %>

<% form_for @product do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :category_id, 'Categoria' %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p>
  <p>
    <%= f.label :name, 'Nome' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description, 'Descrição' %><br />
    <%= fckeditor_textarea(:product, :description, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>
  <p>
    <%= f.label :code, 'Código' %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :price, 'Preço' %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :featured, 'Destaque' %><br />
    <%= f.check_box :featured %>
  </p>
  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>
