<% texto_migalha = ''
unless current_list.nil?
  texto_migalha += "#{link_to('minha conta', account_path)} / #{current_list.name.downcase} / presentes / "
end
texto_migalha += @category_filter ? @category_filter.to_s.downcase : "todo o site"

migalha texto_migalha %>

<% unless current_list.nil? %>
  <h1>Presentes</h1>
<% end %>

<% unless @category_filter.nil? %>
  <h1><%= @category_filter.name %></h1>    
<% end %>

<ul id="navegacaoProdutos" class="listaHorizontal">
  <li>PRODUTOS POR PÁGINA</li>
  <li>
    <form action="#{find_product_path}" method="GET">
      <%= select_tag :per_page, options_for_select([['4', '4'], ['8', '8'], ['15', '15'], ['20', '20']], per_page_products), :onchange => 'this.form.submit()' %>
    <form>
  </li>
  <li>ORDENAR POR:</li>
  <li><%= link_to 'nome', find_product_path, :search => @search, :category_id_filter => (@category_filter && @category_filter.id), :order => 'name' %></li>
  <li> | </li>
  <li><%= link_to 'preco', find_product_path, :search => @search, :category_id_filter => (@category_filter && @category_filter.id), :order => 'price' %></li>
</ul>
<hr>
<div id="listaProdutos">
  <ul id="produtosVarejo" class="listaVertical">
    <% for p in @products  %>
      <li>
        <% if p.photo.file? %>
          <a href="#"><%= image_tag p.photo.url(:thumb) %></a>
        <% end %>
        <h3><%= p.name %> <br/><span>(ref: <%= p.code %>)</span></h3>
        <p><%= p.description %></p>
        <h2>R$ <%= p.price %></h2>
        <%= link_to '<span></span>SAIBA MAIS >', view_product_path(p), :class => 'saibaMais', :title => 'saiba mais' %>
      </li>
      <hr/>
    <% end %>
  </ul>
      
  <%= will_paginate @products, :previous_label => '&laquo Anterior', :next_label => 'Próxima &raquo' %>
</div>
