<% migalha_category = @category_filter ? @category_filter.to_s : "todo o site" %>
<% if current_list %>
  <% migalha_current_list [ link_to('presentes', list_items_path), migalha_category] %>
<% elsif current_store %>
  <% migalha_current_store [ link_to('presentes', 'cart_path'), migalha_category] %>
<% else %>
  <% migalha migalha_category %>
<% end %>

<%= render :partial => 'layouts/list_menu_panel' %>
<%= render :partial => 'layouts/store_menu_panel' %>

<% unless @category_filter.nil? %>
  <h1><%= @category_filter.name %></h1>
<% end %>

<ul id="navegacaoProdutos" class="listaHorizontal">
  <li>PRODUTOS POR PÁGINA</li>
  <li>
    <% form_tag '', :method => 'get' do %>
      <%= hidden_field_tag :search, @search %>
      <%= hidden_field_tag :category_id_filter, (@category_filter && @category_filter.id) %>
      <%= select_tag :per_page, options_for_select([['4'], ['8'], ['15'], ['20']], per_page_products), :onchange => 'this.form.submit()' %>
    <% end %>
  </li>
  <li>ORDENAR POR:</li>
  <li><%= link_to 'nome', :search => @search, :category_id_filter => (@category_filter && @category_filter.id), :order => 'name' %></li>
  <li> | </li>
  <li><%= link_to 'preco', :search => @search, :category_id_filter => (@category_filter && @category_filter.id), :order => 'price' %></li>
</ul>
<hr>
<div id="listaProdutos">
  <ul id="produtosVarejo" class="listaVertical">
    <% for p in @products  %>
      <li>
        <% if p.photo.file? %>
          <%= link_to image_tag(p.photo.url(:thumb)), view_product_path(p), :class => 'capaProduto', :style => 'padding-bottom: 10px;' %></a>
        <% end %>
        <div>
          <h2><%= p.name %> <br/><span>(ref: <%= p.code %>)</span></h2>
          <p><%= p.description %></p>
	        <%= link_to '<span></span>SAIBA MAIS >', view_product_path(p), :class => 'saibaMais', :title => 'saiba mais' %>
          <h2>R$ <%= number_with_precision p.price, :precision => 2 %></h2>
	      </div>
      </li>
      <hr/>
    <% end %>
  </ul>
      
  <%= will_paginate @products, :previous_label => '&laquo Anterior', :next_label => 'Próxima &raquo' %>
</div>
