<h1>Produtos</h1>

<p><%= image_tag 'adicionar.gif' %> <%= link_to 'Novo Produto', new_product_path %></p>

<p><%= will_paginate @products, :previous_label => '&laquo Anterior', :next_label => 'Próxima &raquo' %></p>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <%= sortable_table_header :name => "Nome",  :sort => "name" %>
      <th>Categoria</th>
      <th>Código</th>
      <%= sortable_table_header :name => "Preço",  :sort => "price" %>
      <%= sortable_table_header :name => "Destaque",  :sort => "featured" %>
    </tr>
  </thead>

<% for product in @products %>
  <tr>
    <td><%= link_to image_tag('editar.gif'), edit_product_path(product) %></td>
    <td><%= link_to image_tag('remover.gif'), product, :confirm => 'Tem certeza?', :method => :delete %></td>
    <td><%= link_to product.name, product %></td>
    <td><%=h product.category %></td>
    <td><%=h product.code %></td>
    <td><%=h number_with_precision product.price %></td>
    <td><%= mark_if product.featured %></td>    
  </tr>
<% end %>
</table>

<%= will_paginate @products, :previous_label => '&laquo Anterior', :next_label => 'Próxima &raquo' %>
