<h1>Produtos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Código</th>
    <th>Preço</th>
    <th>Destaque</th>
    <th>Categoria</th>
  </tr>

<% for product in @products %>
  <tr>
    <td><%=h product.name %></td>
    <td><%=h product.code %></td>
    <td><%=h product.price %></td>
    <td><%=h product.featured %></td>
    <td><%=h product.category %></td>
    <td><%= link_to 'Exibir', product %></td>
    <td><%= link_to 'Editar', edit_product_path(product) %></td>
    <td><%= link_to 'Remover', product, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New product', new_product_path %>
