<h1>Pruduto</h1>

<% if @product.photo.file? %>
  <p>
    <b>Foto</b> <%= link_to image_tag('remover.gif'), destroy_photo_product_path(@product), :confirm => 'Deseja mesmo remover a foto do produto?' %>
    <br/><br/><%= image_tag @product.photo.url :big %>
  </p>
<% end %>
<p>
  <b>Nome</b><br/>
  <%=h @product.name %>
</p>

<p>
  <b>Código</b><br/>
  <%=h @product.code %>
</p>

<p>
  <b>Categoria</b><br/>
  <%=h @product.category.name %>
</p>

<p>
  <b>Descrição</b><br/>
  <%= @product.description %>
</p>

<p>
  <b>Preço</b><br/>
  R$ <%= number_with_precision @product.price %>
</p>

<p>
  <b>Ativo</b> <%= mark @product.active %>
</p>

<p>
  <b>Destaque</b> <%= mark @product.featured %>
</p>

<% if @product.display.file? %>
  <p>
    <b>Display</b> <%= link_to image_tag('remover.gif'), destroy_display_product_path(@product), :confirm => 'Deseja mesmo remover o display do produto?' %>
    <br/><br/>
    <%= image_tag @product.display.url %>
  </p>
<% end %>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Voltar', products_path %>
