<% content_for :head do %>
  <%= javascript_include_tag 'milkbox/mootools-1.2.1-core-yc' %>
  <%= javascript_include_tag 'milkbox/mootools-1.2-more' %>
  <%= javascript_include_tag 'milkbox/milkbox' %>
  <%= stylesheet_link_tag 'milkbox/milkbox' %>
<% end %>

<script>
window.addEvent('domready', function(){
	milkbox.setAutoPlay([
		{ gallery:'gal', autoplay:true, delay:4 },
	]);
});
</script>

<% migalha_current_list [ link_to(@product.category.name, {:controller => 'products', :action => 'find', :category_id_filter => @product.category.id}), @product.name] %>

<%= render :partial => 'layouts/list_menu_panel' %>
<%= render :partial => 'layouts/store_menu_panel' %>

<% content_for :content_class do %>produtoView<% end %>

<h1><%= @product.name %></h1>

<div>
  <% unless @product.galery.galery_photos.empty? %>
    <ul class="listaHorizontal">
      <% if @product.photo.file? %>
        <li class='fotoCapa'><%= link_to image_tag(@product.photo.url(:big)), @product.photo.url, :rel => 'milkbox[gal]' %></li>
      <% end %>
      <% for p in @product.galery.galery_photos %>
        <li><%= link_to image_tag(p.url(:thumb)), p.url, :rel => 'milkbox[gal]' %></li>
      <% end %>
    </ul>
  <% end %>
  <div class='descricaoProduto'>
    <p>(ref: <%= @product.code %>)</p>
    <p><%= @product.description %></p>
    <h2>R$ <%= number_with_precision @product.price, :precision => 2 %></h2>
    <hr />
    <!-- Lista de presentes -->
    <% unless current_list.nil? %>
      <% form_for ListItem.new do |f| %>
        <%= hidden_field_tag 'list_item[product_id]', @product.id  %>
        <%= f.label :quantity, 'Quantidade' %>
        <%= text_field_tag 'list_item[quantity]', '1', :class => 'campoTexto' %>
        <input type="image" title="adicionar à minha lista de presentes" src="/images/btAddALista.gif" />
      <% end %>
      <hr />
      <%= link_to '<span></span>ver minha lista de presentes', list_items_path %>
      <hr />      
    <% end %>
    <!-- Carrinho de compra -->
    <% unless current_list.nil? %>
      <% form_for ListItem.new do |f| %>
        <%= hidden_field_tag 'list_item[product_id]', @product.id  %>
        <%= f.label :quantity, 'Quantidade' %>
        <%= text_field_tag 'list_item[quantity]', '1', :class => 'campoTexto' %>
        <input type="image" title="adicionar à minha lista de presentes" src="/images/btAddALista.gif" />
      <% end %>
      <hr />
      <%= link_to '<span></span>ver minha lista de presentes', list_items_path %>
      <hr />      
    <% end %>
  </div>
</div>

<%= link_to "Voltar para: #{@product.category.name}", {:controller => 'products', :action => 'find', :category_id_filter => @product.category.id} %>
