<% content_for(:migalha) do %>
  <%= link_to(@product.category.name.downcase, {:controller => 'products', :action => 'find', :category_id_filter => @product.category.id}) + " / " + @product.name.downcase %>
<% end %>

<!-- Aqui entra o painel da lista -->
<h1><%= @product.category.name %></h1>
<hr />
<h2><%= @product.name %></h2>
<div>
  <div></div>
  <div>
    <% if @product.photo.file? %>
      <p><%= image_tag  @product.photo.url %></p>
    <% end %>    
    <p>(ref: <%= @product.code %>)</p>
    <p><%= @product.description %></p>
    <h2>R$ <%= @product.price %></h2>
    <hr />
    <% unless current_list.nil? %>
      <% form_for ListItem.new do |f| %>
        <%= hidden_field_tag 'list_item[product_id]', @product.id  %>
        <%= f.label :quantity, 'Quantidade' %>
        <%= text_field_tag 'list_item[quantity]', '1', :class => 'campoTexto' %>
        <input type="image" title="adicionar à minha lista de presentes" />
        <hr />
        <%= link_to '<span></span>ver minha lista de presentes', list_items_path %>
        <hr />
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Voltar para: #{@product.category.name}", {:controller => 'products', :action => 'find', :category_id_filter => @product.category.id} %>
