<% migalha [ link_to('carrinho de compras', cart_path), 'checkout'] %>

<% content_for(:content_class) { %>criarConta<% } %>

<%= render :partial => 'layouts/store_menu_panel' %>

<p><%= site.checkout_text %></p>

<% form_for @sale, :html => { :id => 'formCriarConta' } do |f| -%>

  <p><%= label_tag 'name', 'Nome:' %><br/>
  <%= f.text_field :name, :class => 'campoTexto' %></p>

  <p><%= label_tag 'cpf', 'CPF:' %><br/>
  <%= f.text_field :cpf, :class => 'campoTexto' %></p>

  <p><%= label_tag 'phone', 'Telefone:' %><br/>
  <%= f.text_field :phone, :class => 'campoTexto' %></p>
  
  <p><%= label_tag 'email', 'Email:' %><br/>
  <%= f.text_field :email, :class => 'campoTexto' %></p>

  <p><%= label_tag 'adress', 'Endereço:' %><br/>
  <%= f.text_area :adress, :class => 'campoAreaTexto' %></p>  
  
  <h2>Produtos</h2>
  
  <table class="listaPresentes">
    <colgroup>
      <col id="produtoCol"/>
      <col id="quantidadeCol"/>
      <col id="valorUnitarioCol"/>
      <col id="valorTotalCol"/>
    </colgroup>
    <thead>
      <tr>
        <th scope="col"><span>Produto</span></th>
        <th scope="col"><span>Quantidade</span></th>
        <th scope="col"><span>Valor Unitário</span></th>
        <th scope="col"><span>Valo Total</span></th>
      </tr>
    </thead>
    <tbody>
      <% for i in current_cart.cart_items %>
        <tr>
          <td><%= link_to i.product.name, i.product %></td>
          <td>
            <p>
              <%= i.quantity %>
            </p>
          </td>
          <td><p>R$ <%= number_with_precision i.product.price, :precision => 2 %></p></td>
          <td><p>R$ <%=  number_with_precision i.total_price, :precision => 2 %></p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p class="floatRight">Total: R$ <%= number_with_precision current_cart.total_price, :precision => 2 %></p>  
  <% if user_session.show_credit? %>
    <p class="floatRight" style='clear: right'>Total de crédito: R$ <%= number_with_precision current_list.credit, :precision => 2 %></p>
    <p class="floatRight" style='clear: right'>Total a pagar: R$ <%= number_with_precision user_session.total_price_to_pay, :precision => 2 %></p>
  <% end %>
  <br/>
  <br/>
  <br/>
  <br/>
  <input style='clear: both' type="image" title="Ir para o pagamento" value="Ir para o pagamento" src='/images/btConfirmar.gif' />
<% end %>
