<h1>Venda</h1>

<p>
  <b>Data</b><br/>
  <%=h @sale.created_at %>
</p>
<% if @sale.paid %>
  <p>
    <b>tid</b><br/>
    <%=h @sale.tid %>
  </p>  
<% end %>
<p>
  <b>Cliente</b><br/>
  <%=h @sale.name %>
</p>

<p>
  <b>CPF</b><br/>
  <%=h @sale.cpf %>
</p>

<p>
  <b>Endereço</b><br/>
  <%=h @sale.adress %>
</p>

<p>
  <b>Lista</b><br/>
  <%=h @sale.store %>
</p>

<table>
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Valor Unitário</th>
        <th>Valo Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for i in @sale.sale_items %>
        <tr>
          <td><%= link_to i.product.name, i.product %></td>
          <td>
            <p>
              <%= i.quantity %>
            </p>
          </td>
          <td><p>R$ <%= number_with_precision i.price, :precision => 2 %></p></td>
          <td><p>R$ <%=  number_with_precision i.total_price, :precision => 2 %></p></td>
          <td><%= link_to 'EXCLUIR', remove_from_cart_path(i.id) , :confirm => 'Tem certeza?' %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><p>R$ <%= number_with_precision @sale.total_price, :precision => 2 %></p></td>
      </tr>
    </tbody>
  </table>

<%= link_to 'Voltar', sales_path %>
