<% form_for(testimonial) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body, 'Texto' %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :home_text, 'Texto Home' %><br />
    <%= f.text_area :home_text %>
  </p>
  <br/>
  <p>
    <%= f.label :active, 'Ativo' %>
    <%= f.check_box :active %>
  </p>
  <br/>
  <p>
    <%= f.label :featured, 'Destaque' %>
    <%= f.check_box :featured %>
  </p>
  <br/>
  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>
