<h1>Depoimento</h1>

<p>
  <b>Texto</b><br/>
  <%=h @testimonial.body %>
</p>

<p>
  <b>Texto Home</b><br/>
  <%=h @testimonial.home_text %>
</p>

<p>
  <b>Ativo</b> <%= mark @testimonial.active %>
</p>

<p>
  <b>Destaque</b> <%= mark @testimonial.featured %>
</p>

<p>
  <b>Autor</b><br/>
  <%=h @testimonial.author %>
</p>
<br/>
<%= link_to 'Editar', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Voltar', testimonials_path %>
