<h1>Depoimento</h1>
<br/>
<p>
  <b>Body:</b>
  <%=h @testimonial.body %>
</p>
<br/>
<p>
  <b>Active:</b>
  <%=h @testimonial.active %>
</p>
<br/>
<p>
  <b>Featured:</b>
  <%=h @testimonial.featured %>
</p>
<br/>
<p>
  <b>User:</b>
  <%=h @testimonial.user %>
</p>
<br/>
<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
