<p>
  <b>Time:</b>
  <%=h @testimonial.time %>
</p>

<p>
  <b>Body:</b>
  <%=h @testimonial.body %>
</p>

<p>
  <b>Active:</b>
  <%=h @testimonial.active %>
</p>

<p>
  <b>Featured:</b>
  <%=h @testimonial.featured %>
</p>

<p>
  <b>User:</b>
  <%=h @testimonial.user %>
</p>


<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
