<div id="rodape">
  <% if site.logo_footer.file? %>
    <div>
      <%= image_tag site.logo_footer.url, :width => '165', :height => '46' %>
      <p>
        <%= site.footer_text %>
      </p>
    </div>
  <% end %>  
  <ul class="listaVertical">
      <li>Institucional</li>
      <li><%= link_to '> Quem somos', we_path %></li>
      <li><%= link_to '> Nossa loja', showroom_path %></li>
      <li><%= link_to '> Fale conosco', fale_conosco_path %></li>
      <li><%= link_to '> Depoimentos', testimonials_path %></li>
  </ul>
  <ul class="listaVertical">
      <li>Listas de presentes</li>
      <li><a href="#"> > Criar minha lista de presentes</a></li>
      <li><a href="#"> > Minha lista de presentes</a></li>
      <li><a href="#"> > Visitar listas</a></li>
  </ul>
  <ul class="listaVertical">
      <li>Políticas do site</li>
      <% for polyce in Policy.all %>      
        <li><%= link_to '> ' + polyce.menu_title, view_policies_path %></li>
      <% end %>
  </ul>
</div>
