<div id="rodape">
  <div>
    <% if site.logo_footer.file? %>
      <%= image_tag site.logo_footer.url, :width => '165', :height => '60', :style => "filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{site.logo_footer.url}', sizingMethod='scale')" %>
    <% end %>  
    <p>
      <%= site.footer_text %>
    </p>
  </div>
  <ul class="listaVertical">
      <li>Institucional</li>
      <li><%= link_to '> Quem somos', we_path %></li>
      <li><%= link_to '> Nossa loja', showroom_path %></li>
      <li><%= link_to '> Fale conosco', fale_conosco_path %></li>
      <li><%= link_to '> Depoimentos', view_testimonials_path %></li>
  </ul>
  <ul class="listaVertical">
      <li>Listas de presentes</li>
      <li><%= link_to '> Criar minha lista de presentes', account_path %></li>
      <li><%= link_to '> Minha lista de presentes', my_list_path %></li>
      <li><%= link_to '> Visitar listas', visit_list_path %></li>
  </ul>
  <ul class="listaVertical">
      <li>Políticas do site</li>
      <% for polyce in Policy.all %>      
        <li><%= link_to '> ' + polyce.menu_title, "#{view_policies_path}##{polyce.name}" %></li>
      <% end %>
  </ul>
</div>
