<% if user_session.show_list_menu_panel? %>
  <h2><%= current_list.name %></h2>
  <ul class="listaHorizontal menuLista">
    <li><%= link_to_unless_current 'noivos', edit_list_nomes_path %></li>
    <li>|</li>
    <li><%= link_to_unless_current 'espaco pessoal', edit_list_personal_space_path %></li>
    <li>|</li>
    <li><%= link_to_unless_current 'presentes', list_items_path %></li>
    <li>|</li>
    <li><%= link_to_unless_current 'divulgação', spams_path %></li>
    <li>|</li>
    <li><%= link_to_unless_current 'visualizar', store_path(current_list.adress) %></li>
    <li>|</li>
    <li><%= link_to_unless_current 'encerrar lista', confirm_close_list_path %></li>
    <li>|</li>
    <li><%= link_to_unless_current 'sair', exit_list_path %></li>
  </ul>
  <hr>
<% end %>
