<% if user_session.show_list_menu_panel? %>
  <ul class="listaHorizontal menuLista">
    <li><%= link_menu 'noivos', edit_list_nomes_path %></li>
    <li>|</li>
    <li><%= link_menu 'espaco pessoal', edit_list_personal_space_path %></li>
    <li>|</li>
    <li><%= link_menu 'presentes', [ list_items_path, find_products_path, (view_product_path(@product.id) if @product) ] %></li>
    <li>|</li>
    <li><%= link_menu 'divulgação', [ spams_path, spams_path, new_spam_path, (spam_path(@spam) unless @spam.new_record? if @spam), (edit_spam_path(@spam) unless @spam.new_record? if @spam) ] %></li>
    <li>|</li>
    <li><%= link_menu 'visualizar', store_path(current_list.adress) %></li>
    <li>|</li>
    <li><%= link_menu 'encerrar lista', confirm_close_list_path %></li>
    <li>|</li>
    <li><%= link_menu 'sair', exit_list_path %></li>
  </ul>
  <hr>
<% end %>
