<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Arte de Receber</title>
  <%= javascript_include_tag 'adm/menu' %>  
  <%= stylesheet_link_tag 'adm/estrutura' %>
  <%= stylesheet_link_tag 'adm/estruturamenu' %>  
  <%= stylesheet_link_tag 'adm/tabela' %>
  <%= yield :head %>
</head>
<body>

<%= render :partial => 'adm/user_bar' %>
<%= render :partial => 'adm/top' %>
<%= render :partial => 'layouts/menu_adm' %>

<div id="conteudo">
  <% if flash[:notice] %>
    <p align="center" style="color: green"><%= flash[:notice] %></p>
  <% end %>  
  <% if flash[:error] %>
    <p align="center" style="color: red"><%= flash[:error] %></p>
  <% end %>
  <%= yield  %>
</div>

</body>
</html>
