<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Arte de Receber <%= yield :title %></title>
  <%= stylesheet_link_tag 'site/complete' %>
  <% if flash[:notice] or flash[:error] %>
    <%= javascript_include_tag 'site/Tween' %>
    <%= javascript_include_tag 'site/result' %>
  <% end %>
  <%= yield :head %>
  
  <!--[if lte IE 6]>
    <style type="text/css">
      #content { width:504px; float:left; }
    </style>
  <![endif]-->
  
</head>
<body id="<%= yield :body_id %>" onload="<%= yield :onload %>">

  <div id="armacao">
  
    <table id="topo" style="" border="0" cellspacing="0">
      <tbody>
        <tr style="height: 122px;">
          <td style="width: 275px;" align="center" valign="bottom">
            <%= image_tag(site.logo.url, :style => "filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{site.logo.url}', sizingMethod='scale')") if site.logo.file?%>
          </td>
          <td valign="top" style="padding-right: 30px;">
            <%= render :partial => 'layouts/testimonial' %>
          </td>
        </tr>
        <tr style="height: 44px; vertical-align: top; text-align: right;">
            <td colspan="2">
              <%= render :partial => 'layouts/institutional_menu' %>
            </td>
        </tr>
      </tbody>
    </table>
      
    <%= yield :display %>
    
    <div id="miolo">      
      <% sidebar_content = yield :sidebar %>
      <% unless sidebar_content %>
        <%= render :partial => 'layouts/side_bar' %>
      <% else %>
        <div id='sideContent'>
          <%= sidebar_content %>
        </div>
      <% end %>
      
      <%= yield :miolo %>
      
      <div id="content" class="<%= yield :content_class %>">
        <%= render :partial => 'layouts/actions_menu' %>
        <%= render :partial => 'layouts/user_panel' %>
        <% migalha_content = yield(:migalha) %>
        <% if migalha_content %>
          <%= render :partial => 'layouts/migalha', :object => migalha_content %>
        <% end %>
        
        <%= yield %>
      </div>
    </div>
  
    <%= render :partial => 'layouts/footer' %>
    
    <% if flash[:notice] or flash[:error] %>
      <div id="result">
        <div id="container">
          <div id="btClose">
            <a href="javascript:hide();"><img src="/images/iconCloseResult.png" title="Fechar mensagem"></a>
          </div>
          <div id="mensagem">
            <% if flash[:notice] %>
              <%= flash[:notice] %>              
            <% end %>
            <% if flash[:error] %>
              <%= flash[:error] %>              
            <% end %>
          </div>
        </div>
      </div>
    
      <script language="JavaScript">
        show();
      </script>
    <% end %>
    
  </div>
</body>
</html>
