<% content_for :head do %>
  <%= javascript_include_tag :fckeditor %>
<% end %>

<% form_for(@policy) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'Nome' %><br />
    <%= f.text_field :name %>
  </p>
  <br/>
  <p>
    <%= f.label :menu_title, 'Título do menu' %><br />
    <%= f.text_field :menu_title %>
  </p>
  <br/>
  <p>
    <%= f.label :text_title, 'Título do texto' %><br />
    <%= f.text_field :text_title %>
  </p>
  <br/>
  <p>
    <%= f.label :text, 'Texto' %><br />
    <%= fckeditor_textarea(:policy, :text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>
  <br/>
  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>
