<% content_for :head do %>
  <%= javascript_include_tag :fckeditor %>
<% end %>

<% form_for(@policy) do |f| %>
  <%= f.error_messages %>

  <p>
    <b><%= f.label :name, 'Nome' %></b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b><%= f.label :menu_title, 'Título do menu' %></b><br />
    <%= f.text_field :menu_title %>
  </p>

  <p>
    <b><%= f.label :text_title, 'Título do texto' %></b><br />
    <%= f.text_field :text_title %>
  </p>

  <p>
    <b><%= f.label :text, 'Texto' %></b><br />
    <%= fckeditor_textarea(:policy, :text, :toolbarSet => 'Basic', :width => '60%', :height => '300px') %>
  </p>

  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>
