<h1>Políticas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Nome</th>
      <th>Título do menu</th>
    </tr>
  </thead>

<% for policy in @policies %>
  <tr>
    <td><%= link_to image_tag('editar.gif'), edit_policy_path(policy) %></td>
    <td><%= link_to image_tag('remover.gif'), policy, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to policy.name, policy %></td>
    <td><%=h policy.menu_title %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Nova Política', new_policy_path %>
