<h1>Políticas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Título do menu</th>
    <th>Título do texto</th>
    <th>Texto</th>
  </tr>

<% for policy in @policies %>
  <tr>
    <td><%=h policy.name %></td>
    <td><%=h policy.menu_title %></td>
    <td><%=h policy.text_title %></td>
    <td><%=h policy.text %></td>
    <td><%= link_to 'Exibir', policy %></td>
    <td><%= link_to 'Editar', edit_policy_path(policy) %></td>
    <td><%= link_to 'Remover', policy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Nova Política', new_policy_path %>
