<p>
  <b>Nome:</b>
  <%=h @policy.name %>
</p>

<p>
  <b>Título do menu:</b>
  <%=h @policy.menu_title %>
</p>

<p>
  <b>Título do texto:</b>
  <%=h @policy.text_title %>
</p>

<p>
  <b>Texto:</b>
  <%=h @policy.text %>
</p>


<%= link_to 'Editar', edit_policy_path(@policy) %> |
<%= link_to 'Voltar', policies_path %>
