<h1>Política</h1>

<p>
  <b>Nome</b><br/>
  <%=h @policy.name %>
</p>

<p>
  <b>Título do menu</b><br/>
  <%=h @policy.menu_title %>
</p>

<p>
  <b>Título do texto</b><br/>
  <%=h @policy.text_title %>
</p>

<p>
  <b>Texto</b>
  <%= format @policy.text %>
</p>

<%= link_to 'Editar', edit_policy_path(@policy) %> |
<%= link_to 'Voltar', policies_path %>
