<% content_for :body_id do %>politicaSite<% end %>

<% migalha 'políticas' %>

<h1>Política do Site</h1>

<% content_for :sidebar do %>
  <%= image_tag site.logo.url, :width => 170, :height => 80 %>
  <ul class='listaVertical'>
    <% for p in Policy.all %>
      <li><%= link_to '> ' + p.name, :anchor => p.name %></li>
    <% end %>
  </ul>
<% end %>

<% for p in Policy.all %>
  <a name="<%= p.name %>"></a>
  <h2><%= p.name %></h2>
  <p><%= p.text %></p>
<% end %>
